@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "halloween";
  default: true;
  prefersdark: true;
  --radius-btn: 0rem;
  --radius-box: 0rem;
  --radius-field: 0rem;
  --radius-selector: 0rem;
}

