@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "halloween";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.01 252.42);
  --color-base-200: oklch(23.26% 0.01 252.42);
  --color-base-300: oklch(21.18% 0.01 252.42);
  --color-base-content: oklch(92.42% 0.01 255.43);
  --color-primary: oklch(71.05% 0.2 46.51);
  --color-primary-content: oklch(14.21% 0.04 46.51);
  --color-secondary: oklch(65.41% 0.15 45);
  --color-secondary-content: oklch(13.08% 0.03 45);
  --color-accent: oklch(76.71% 0.22 86.41);
  --color-accent-content: oklch(15.34% 0.04 86.41);
  --color-neutral: oklch(17.03% 0.01 252.42);
  --color-neutral-content: oklch(83.41% 0.01 255.43);
  --color-info: oklch(67.92% 0.15 220);
  --color-info-content: oklch(13.58% 0.03 220);
  --color-success: oklch(72.71% 0.17 145);
  --color-success-content: oklch(14.54% 0.03 145);
  --color-warning: oklch(82.69% 0.16 85);
  --color-warning-content: oklch(16.54% 0.03 85);
  --color-error: oklch(62.2% 0.19 25);
  --color-error-content: oklch(12.44% 0.04 25);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --radius-btn: 0rem;
  --radius-badge: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
