@import "tailwindcss";

@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "halloween";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21.22% 0.047 317.21);
  --color-base-200: oklch(18.77% 0.039 317.21);
  --color-base-300: oklch(14.94% 0.027 317.21);
  --color-base-content: oklch(88.04% 0.021 317.21);
  --color-primary: oklch(61.42% 0.238 20.35);
  --color-primary-content: oklch(12.28% 0.048 20.35);
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-secondary-content: oklch(98.71% 0.01 342.55);
  --color-accent: oklch(76.76% 0.184 183.61);
  --color-accent-content: oklch(15.352% 0.036 183.61);
  --color-neutral: oklch(20% 0.024 255.701);
  --color-neutral-content: oklch(89.499% 0.011 252.096);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --radius-btn: 0rem;
  --radius-badge: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
